$full-width: 1920;
$screen-height: 962;
$browser-context: 16;

$red: #e94f5d;
$blue: #2e6ced;
$light-blue: #f7f9fc;
$gray: #828282;
$dark-gray: #59606b;
$green: #1c910a;
$light-green: #36af47;
$black: #000000;
$beige: #f9f9f9;
$light-gray: #f6f7fa;
$yellow: #ffb768;
$white: #ffffff;
$grayE: #eeeeee;
